:root {
  --primary-color: #343a40; /* Warna utama latar belakang */
  --secondary-color: #ffffff; /* Warna sekunder untuk teks */
  --accent-color: #ffb3c1; /* Warna aksen */
  --text-color: #000000; /* Warna teks */
  --highlight-color: #f8d7da; /* Warna highlight */
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

.my-nav {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.mybg {
    position: relative; /* Menggunakan posisi relatif */
    text-align: center; /* Membuat teks berada di tengah secara horizontal */
    overflow: hidden; /* Memastikan video atau gambar tidak keluar dari batas container */
}

#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memastikan video memenuhi seluruh area .mybg */
    z-index: -1; /* Menempatkan video di belakang konten lain */
}


.container {
    position: relative;
    z-index: 1; /* Menempatkan konten introduction di atas video */
}

.col-6 {
    margin: 0 auto; /* Memposisikan introduction di tengah */
    max-width: 600px; /* Sesuaikan lebar maksimum sesuai kebutuhan */
    padding: 0 15px; /* Padding untuk menjaga jarak dari tepi */
}


.title {
  font-weight: bold;
  font-size: 4rem;
  color: var(--secondary-color);
}

.description {
  color: var(--secondary-color);
  font-size: 1.5rem;
  
}



/* Media query untuk layar dengan lebar maksimum 320px (misalnya smartphone kecil) */
@media (max-width: 320px) {
    .mybg {
        padding: 0.5rem 0; /* Padding atas dan bawah yang lebih sedikit */
    }

    .col-6 {
        max-width: 100%; /* Lebar konten maksimum */
        padding: 0 8px; /* Padding lebih kecil di tepi */
    }

    .title {
        font-size: 1.8rem; /* Ukuran font judul yang lebih kecil */
    }

    .description {
        font-size: 0.6rem; /* Ukuran font deskripsi yang lebih kecil */
    }
}

/* Media query untuk layar dengan lebar antara 321px dan 375px (misalnya smartphone dengan layar kecil) */
@media (min-width: 321px) and (max-width: 375px) {
    .mybg {
        padding: 1rem 0; /* Padding atas dan bawah yang lebih sedikit */
    }

    .col-6 {
        max-width: 100%; /* Lebar konten maksimum */
        padding: 0 10px; /* Padding lebih kecil di tepi */
    }

    .title {
        font-size: 2rem; /* Ukuran font judul yang lebih kecil */
    }

    .description {
        font-size: 0.7rem; /* Ukuran font deskripsi yang lebih kecil */
    }
}

/* Media query untuk layar dengan lebar antara 376px dan 425px (misalnya smartphone dengan layar sedang) */
@media (min-width: 376px) and (max-width: 425px) {
    .mybg {
        padding: 1rem 0; /* Padding atas dan bawah yang lebih sedikit */
    }

    .col-6 {
        max-width: 100%; /* Lebar konten maksimum */
        padding: 0 10px; /* Padding lebih kecil di tepi */
    }

    .title {
        font-size: 2.2rem; /* Ukuran font judul yang lebih kecil */
    }

    .description {
        font-size: 0.8rem; /* Ukuran font deskripsi yang lebih kecil */
    }
}

/* Media query untuk layar dengan lebar antara 426px dan 768px (misalnya tablet dan smartphone besar) */
@media (min-width: 426px) and (max-width: 768px) {
    .mybg {
        padding: 1.5rem 0; /* Padding atas dan bawah yang lebih sedikit */
    }

    .col-6 {
        max-width: 100%; /* Lebar konten maksimum */
        padding: 0 15px; /* Padding lebih besar di tepi */
    }

    .title {
        font-size: 2.5rem; /* Ukuran font judul yang lebih besar */
    }

    .description {
        font-size: 0.9rem; /* Ukuran font deskripsi yang lebih besar */
    }
}

/* Media query untuk layar dengan lebar antara 769px dan 1024px (misalnya tablet dan laptop kecil) */
@media (min-width: 769px) and (max-width: 1024px) {
    .mybg {
        padding: 2rem 0; /* Padding atas dan bawah */
    }

    .col-6 {
        max-width: 100%; /* Lebar konten maksimum */
        padding: 0 20px; /* Padding lebih besar di tepi */
    }

    .title {
        font-size: 3rem; /* Ukuran font judul yang lebih besar */
    }

    .description {
        font-size: 1rem; /* Ukuran font deskripsi yang lebih besar */
    }
}

/* Media query untuk layar dengan lebar antara 1025px dan 1440px (misalnya laptop dan monitor sedang) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .mybg {
        padding: 2.5rem 0; /* Padding atas dan bawah */
    }

    .col-6 {
        max-width: 80%; /* Lebar konten maksimum */
        padding: 0 30px; /* Padding lebih besar di tepi */
    }

    .title {
        font-size: 3.5rem; /* Ukuran font judul yang lebih besar */
    }

    .description {
        font-size: 1.1rem; /* Ukuran font deskripsi yang lebih besar */
    }
}

/* Media query untuk layar dengan lebar lebih dari 1440px (misalnya monitor besar) */
@media (min-width: 1441px) {
    .mybg {
        padding: 3rem 0; /* Padding atas dan bawah */
    }

    .col-6 {
        max-width: 70%; /* Lebar konten maksimum */
        padding: 0 40px; /* Padding lebih besar di tepi */
    }

    .title {
        font-size: 4rem; /* Ukuran font judul yang lebih besar */
    }

    .description {
        font-size: 1.2rem; /* Ukuran font deskripsi yang lebih besar */
    }
}



.content-product,
.content-service {
  padding: 2rem 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 2rem 0;
  color: var(--secondary-color);
}

.social-icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .mybg {
    height: auto;
    padding: 2rem 0;
  }

  .col img {
    width: 80px;
    height: 80px;
  }
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link {
  font-size: 1rem;
  color: var(--secondary-color);
}

.nav-link:hover {
  color: var(--accent-color);
}

.content-product h1,
.content-service h1 {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.content-product .description,
.content-service .description {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.col h1,
.col h2 {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.col p {
  font-size: 1rem;
  color: var(--secondary-color);
}

.contact-info {
  margin-top: 2rem;
}

.contact-info h2 {
  font-size: 2rem;
  color: var(--secondary-color);
}

.contact-info p {
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.social-icons img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.bg-dark {
  background-color: #343a40; /* Warna latar belakang gelap */
  color: #ffffff; /* Warna teks untuk kontras yang baik */
}

.bg-gradient-dark {
  background: linear-gradient(
    to right,
    #1e1e26,
    #212a3a
  ); /* Gradient gelap dari kiri ke kanan */
  color: #ffffff; /* Warna teks untuk kontras yang baik */
}
